.featured-slide {
  height: 100px; /* Set a fixed height for the slider */
  text-align: center;
  overflow: hidden;
}

.featured-slide img {
  max-height: 100px;
  max-width: 100px;
  height: auto;
}

.slick-slide {
  margin-bottom: 500px;
  background-color: #07677063;
}

/* Add the slide dots styles */
.slick-dots {
  position: absolute;
  bottom: 460px;
  width: 100%;
  list-style: none;
  text-align: center;
}