/* FeaturedContent.css */
.featured-slide {
  height: 300px;
  /* Set a fixed height for the slider */
  text-align: center;
  overflow: hidden;
}

.featured-slide img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
}

.slick-slide {

  /* Adjust the margin to add space between slides */
  background-color: #b3e5eb63;
  /* Replace with your desired background color */
}